# SUM and COUNT
This tutorial is about aggregate functions such as COUNT, SUM and AVG. An aggregate function takes many values and delivers just one value. For example the function SUM would aggregate the values 2, 4 and 5 to deliver the single value 11.

In [1]:
import pandas as pd

In [2]:
pd.read_clipboard()

          name continent       area  population           gdp
0  Afghanistan      Asia   652230.0  25500100.0  2.034300e+10
1      Albania    Europe    28748.0   2831741.0  1.296000e+10
2      Algeria    Africa  2381741.0  37100000.0  1.886810e+11
3      Andorra    Europe      468.0     78115.0  3.712000e+09
4       Angola    Africa  1246700.0  20609294.0  1.009900e+11
5          ...      None        NaN         NaN           NaN