# SUM and COUNT
### World Country Profile: Aggregate functions
This tutorial is about aggregate functions such as COUNT, SUM and AVG. An aggregate function takes many values and delivers just one value. For example the function SUM would aggregate the values 2, 4 and 5 to deliver the single value 11.

`world(name, continent, area, population, gdp)
`

In [1]:
import pandas as pd

In [2]:
pd.read_clipboard()

          name continent       area  population           gdp
0  Afghanistan      Asia   652230.0  25500100.0  2.034300e+10
1      Albania    Europe    28748.0   2831741.0  1.296000e+10
2      Algeria    Africa  2381741.0  37100000.0  1.886810e+11
3      Andorra    Europe      468.0     78115.0  3.712000e+09
4       Angola    Africa  1246700.0  20609294.0  1.009900e+11
5          ...      None        NaN         NaN           NaN

## Examples
### Using SUM, Count, MAX, DISTINCT and ORDER BY.

#### BBC Country Profile

##### Aggregates
The functions `SUM`, `COUNT`, `MAX` and `AVG` are "aggregates", each may be applied to a numeric attribute resulting in a single row being returned by the query. (These functions are even more useful when used with the `GROUP BY` clause.)

##### Distinct
By default the result of a `SELECT` may contain duplicate rows. We can remove these duplicates using the `DISTINCT` key word.

##### Order by
`ORDER BY` permits us to see the result of a `SELECT` in any particular order. We may indicate `ASC` or `DESC` for ascending (smallest first, largest last) or descending order.

1. The total population and GDP of Europe.

> `SELECT SUM(population), SUM(gdp)
  FROM bbc
  WHERE region = 'Europe'`

2. What are the regions?

> `SELECT DISTINCT region FROM bbc`

3. Show the name and population for each country with a population of more than 100000000. Show countries in descending order of population.

> `SELECT name, population
  FROM bbc
  WHERE population > 100000000
  ORDER BY population DESC`
  
### Using GROUP BY and HAVING
#### World Country Profile

##### GROUP BY
By including a `GROUP BY` clause, functions such as `SUM` and `COUNT` are applied to groups of items sharing values. When you specify `GROUP BY` `continent` the result is that you get only one row for each different value of `continent`. All the other columns must be "aggregated" by one of `SUM`, `COUNT` ...

###### Having
The `HAVING` clause allows use to filter the groups which are displayed. The `WHERE` clause filters rows before the aggregation, the `HAVING` clause filters after the aggregation.

If an `ORDER BY` clause is included we can refer to columns by their position.

1. For each continent show the number of countries:

> `SELECT continent, COUNT(name)
  FROM world
 GROUP BY continent`

2. For each continent show the total population:

> `SELECT continent, SUM(population)
  FROM world
 GROUP BY continent`

3. `WHERE` and `GROUP BY`. The `WHERE` filter takes place before the aggregating function. For each relevant continent show the number of countries that has a population of at least 200000000.

> `SELECT continent, COUNT(name)
  FROM world
 WHERE population>200000000
 GROUP BY continent`

4. `GROUP BY` and `HAVING`. The `HAVING` clause is tested after the `GROUP BY`. You can test the aggregated values with a `HAVING` clause. Show the total population of those continents with a total population of at least half a billion.

> `SELECT continent, SUM(population)
  FROM world
 GROUP BY continent
HAVING SUM(population)>500000000`

1. Show the total `population` of the world.

> `SELECT SUM(population)
FROM world`

2. List all the continents - just once each.
> `SELECT DISTINCT continent
FROM world;`

3. Give the total GDP of Africa
> `SELECT SUM(gdp)
FROM world
WHERE continent = 'Africa'
GROUP BY continent;`

4. How many countries have an `area` of at least 1000000?
>`SELECT COUNT(name)
FROM world
WHERE area >= 1000000;`

5. What is the total `population` of ('Estonia', 'Latvia', 'Lithuania')?
> `SELECT SUM(population)
FROM world
WHERE name IN ('Estonia', 'Latvia', 'Lithuania');`

6. For each `continent` show the `continent` and number of countries.
> `SELECT continent, COUNT(name)
FROM world
GROUP BY continent;`

7. For each `continent` show the `continent` and number of countries with populations of at least 10 million.
> `SELECT continent, COUNT(name)
FROM world
WHERE population >= 10000000
GROUP BY continent;`

8. List the continents that `have` a total population of at least 100 million.
> `SELECT continent
FROM world
GROUP BY continent
HAVING SUM(population) >= 100000000;`